Body {
	margin: 0;
	background-color: #2d2d2e;
}

.menu-main {
	list-style: none;
	padding: 20px 0 40px;
	margin: 0;
	text-align: right;
	background: black;

}

.menu-main li {
	display: inline-block;
}

.menu-main li:after {
	content: "|";
	color: white;
	display: inline-block;
	vertical-align: top;
}

.menu-main li:last-child:after {
	content: none;
}

.menu-main a {
	text-decoration: none;
	font-family: 'Ubuntu Condensed', sans-serif;
	letter-spacing: 2px;
	position: relative;
	padding-bottom: 2px;
	margin: 0 34px 0 30px;
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	transition: color .2s;
}

.menu-main a,
.menu-main a:visited {
	color: white;
}

.menu-main a.current,
.menu-main a:hover {
	color: #f2b661;
}

.menu-main a:before,
.menu-main a:after {
	content: "";
	position: absolute;
	height: 4px;
	top: auto;
	right: 50%;
	bottom: -5px;
	left: 50%;
	background: #feb386;
	transition: .4s;
}

.menu-main a:hover:before,
.menu-main .current:before {
	left: 0;
}

.menu-main a:hover:after,
.menu-main .current:after {
	right: 0;
}

@media (max-width: 550px) {
	.menu-main {
		padding-top: 0;
	}

	.menu-main li {
		display: block;
	}

	.menu-main li:after {
		content: none;
	}

	.menu-main a {
		padding: 25px 0 20px;
		margin: 0 30px;
	}
}

.logo {
	position: absolute;
	top: 10px;
	left: 25px;
	margin: 0;
	height: 70px;
	width: 70px;
}

.img {
	margin: 65px;
	float: left;
	height: 400px;
	width: 750px;
}

.text {
	display: flex;
	color: white;
	font-size: 15px;
	margin: 70px 90px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	text-indent: 39px;
	text-align: justify;
}

.text_1 {
	color: white;
	text-align: center;
	margin: 40px 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
}

.video {
	position: relative;
	margin: 40px 0 0 0;
	display: block;
	text-align: center;
}

.audio {
	text-align: center;
	margin: 35px;
}